@use "../global/variables" as *;

.footer {
  position: relative;
  width: 100%;
  background: $color-accent;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .menu__link {
    font-size: 1.2rem;
    color: $color-light;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.60;
  }

  .menu__link:hover {
    color: $color-main;
    opacity: 1;
  }

  p,
  a {
    @include montserrat700;
    color: $color-light;
    margin: 15px 0 10px 0;
    font-size: 1.1rem;
  }
  .info{
    text-align: center;
    color: $color-light;
  }
  span{
    color: $color-main;
  }
}
