@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

//Fonts
@mixin montserrat700(){
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  
}
@mixin interRegular400() {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

//Colors

$color-primary: #8c8c8c;
$color-Secondary: #252625;
$color-tertiary: #585959;
$color-light: #d9d9d9;
$color-accent: #0d0d0d;

//Padrões

@mixin margin {
  margin-right: 15%;
  margin-left: 15%;
}

@mixin flex-center($direction) {
  display: flex;
  justify-content: center;
  flex-direction: $direction;
}

//

body {
  background-color: $color-Secondary;
}
