@use '../../global/variables' as *;

.sobreSection {
  @include margin;
  margin-top: 5rem;
  margin-bottom: 5rem;

  h2 {
    @include montserrat700;   
    color: $color-light;   
    font-size: 1.9rem;   
    text-transform: capitalize;
  }

  h3 {
    @include montserrat700;   
    color: $color-light;   
    font-size: 1.5rem;   
    margin: 20px 0 5px 0;   
  }

  p {
    color: $color-light;   
    @include interRegular400;   
    font-size: 1.1rem;   
    text-align: justify;   
    margin: 2px 0;
  }

  span{
    color: $color-main;
  }
}